
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box
}
html{
    font-size: 62.5%;
}
header{
    background-color: #3E5266;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
header .header-logotipo{
    width: 35px;
    height: 35px;
    background-color: #83AEE3;
    border-radius: 50%;
    margin: 0 0 0 100px;
}
header ul{
    list-style: none;
    margin: 0 auto;
}
header ul li, a{
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 0 30px;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: transform 0.5s ease-in-out;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section-title{
    font-size: 3rem;
    letter-spacing: 10px;
    text-align: center;
    margin: 50px 0;

}

.section-cards{
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 50px;
}

.cards{
    width: 350px;
    border: 2px solid black;

}
.cards-square{
    width: 100%;
    height: 350px;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
}
/*tarea 1*/

/*tarea 2*/
.cards-square h5{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease-in;
}
.small-blue-square h5{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease-in;
}
.section2-big-square h5{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease-in;
}
.cards:hover .cards-square h5{
    visibility: visible;
    opacity: 1;
    transition: 0.2s all ease-in;
}
.small-blue-square:hover h5{
    visibility: visible;
    opacity: 1;
    transition: 0.2s all ease-in;
}
.section2-big-square:hover h5{
    visibility: visible;
    opacity: 1;
    transition: 0.2s all ease-in;
}

.s1{
    background-color: rgb(56, 147, 221);
}
.s2{
    background-color: navajowhite;
}
.s3{
    background-color: greenyellow;
}
.s4{
    background-color: rgb(234, 0, 255);
}
.main-section2{
    display: flex;
    align-items: center;
    padding: 100px 0 50px;
    gap: 50px;
}
.section2-big-square{
    background-color: #3E5266;
    border-radius: 50px;
    min-width: 250px;
    min-height: 250px;
    height: 500px;
    width: 500px;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
}
.small-blue-square{
    background-color: #83AEE3;
    width: 140px;
    height: 140px;
    margin: 25px 0;
    border-radius: 20px;
    display: flex;
    font-size: 7rem;
    justify-content: center;
    align-items: center;
}
.section2-group-text{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.text-area{
    width: 270px;
}
.text-area h4{
    font-size: 2.5rem;
}
.text-area p{
    font-size: 1.4rem;
}
h3{
    font-size: 3.5rem;
    margin: 20px 0;
    padding: 0 30px;
}
.cards p{
    font-size: 2rem;
    margin: 20px 0 10px;
    padding: 0 30px;
}